/* sei lá me perdi hahahahahah mas tá no index */
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  /* cabeçalho */
#Main-header_top{ 
    background-color: #333;
    color:rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
  }

  /* cabeçalho de baixo */
  #Main-header_bottom{
    margin: 2;
    padding: 2;
    background-color: rgb(20, 129, 129);
    color:rgb(255, 255, 255);
    text-align: center;
    
  }

  /* margem de paragrafos */
p{
  MARGIN: 10px;
}

/* margem dos links */
a{
  MARGIN: 10px;
}

/* margem do titulo */
h1{
  MARGIN: 10px;
}

  /* listas */
ul{
    display: flex;
    color: aliceblue;
    list-style: none;
    justify-content: center;
   
  }
  
  /* listas  */
  ul li{
    margin: 10px;
    font-size: 15pt;
    text-transform: uppercase;
  }
  
  /* listas */
  ul li:hover{
    background-color: blue;
    font-size: 16pt;
  }
  
  /* listas */
  ul li a{
    
    color: aliceblue;
    font-family: Arial;
  text-decoration: none; 
  }

  /* rodapé */
footer{
    color: aliceblue;
    justify-content: center;
  }