/* sei lá me perdi hahahahahah mas tá no index */
* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
  }

  /* cabeçalho */
#Main-header_top{ 
    background-color: #333;
    color:rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
  }
  
  /* cabeçalho de baixo */
  #Main-header_bottom{
    margin: 2;
    padding: 2;
    background-color: #81143e;
    color:rgb(255, 255, 255);
    text-align: center;
    
  }

  /* margem de paragrafos */
p{
  MARGIN: 10px;
}

/* margem dos links */
a{
  MARGIN: 10px;
}

/* margem do titulo */
h1{
  MARGIN: 10px;
}

  /* listas */
ul{
    display: flex;
    color: aliceblue;
    list-style: none;
    justify-content: center;
   
  }
  
  /* listas  */
  ul li{
    margin: 10px;
    font-size: 15pt;
    text-transform: uppercase;
  }
  
  /* listas * ONDE ESTA OS MEMBROS, LINKS ETC.../
  ul li:hover{
    background-color: rgb(153, 189, 189);
    font-size: 16pt;
  }
  
  /* listas */
  ul li a{
    
    color: aliceblue;
    font-family: Arial;
  text-decoration: none; 
  }

  /* rodapé */
footer{
    color: aliceblue;
    justify-content: center;
  }
  
/* Efeito hover para os links de navegação */
a:hover {
  background-color: #852264; /* Cor de fundo mais escura ao passar o mouse */
  color: #bd2b6f;    /* Muda a cor do texto ao passar o mouse */
}
