/* cabeçalho */
* { 
  margin: 1;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

/* Seleciona a cor da pagina inteira  */
body {
  background-color:oklch(34.761% 0.00417 16.837) 

}

/* Seleciona a cor dos paragrafos */
p{
  color: aliceblue;
}

/* Seleciona a cor dos titulos */
h1{
  color: aliceblue;
}

/* muda a cor dos links externos */
a[href^="https"] {
  color: rgb(53, 80, 80);
}

/* class para mudar a cor tipo marca texto paralvras coloridas */  
b[class~="tiktok"] {
  color: rgb(196, 95, 145);

}

/* cria uma class propria para uma determina palavra mas não muito recomendada*/
tiktik{
  color: rgb(194, 34, 114);
}

 /* rodapé */
footer{
    color: aliceblue;
    justify-content: center;
  }

  /* Efeito hover para os links de navegação */
  a:hover {
    background-color: rgb(153, 189, 189); /* Cor de fundo mais escura ao passar o mouse */
    color: #f30b92;    /* Muda a cor do texto ao passar o mouse */
}

