/* cabeçalho */
* { 
  margin: 1;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

/* Seleciona a cor da pagina inteira  */
body {
  background-color:rgb(61, 57, 57) 

}

/* Seleciona a cor dos paragrafos */
p{
  color: aliceblue;
}

/* Seleciona a cor dos titulos */
h1{
  color: aliceblue;
}

/* muda a cor dos links externos */
a[href^="https"] {
  color: rgb(34, 145, 139);
}

/* class para mudar a cor tipo marca texto */
b[class~="tiktok"] {
  color: rgb(20, 129, 129);

}

/* cria uma class propria para uma determina palavra mas não muito recomendada*/
tiktik{
  color: blue;
}

 /* rodapé */
footer{
    color: aliceblue;
    justify-content: center;
  }

  /* Efeito hover para os links de navegação */
  a:hover {
    background-color: rgb(20, 129, 129); /* Cor de fundo mais escura ao passar o mouse */
    color: #f3d00b;    /* Muda a cor do texto ao passar o mouse */
}

