
/* Seleciona a cor da pagina inteira  */
body {
    background-color:rgb(61, 57, 57) 
  
  }
  
  /* Seleciona a cor dos paragrafos */
p{
  color: aliceblue;
  font-family: Tahoma, sans-serif;
}

/* Seleciona a cor dos titulos */
h1{
  color: aliceblue;
  font-family: Tahoma, sans-serif;
}

/* muda a cor dos links externos */
a[href^="https"] {
  color: rgb(34, 145, 139);
}

/* Efeito hover para os links de navegação */
a:hover {
  background-color: rgb(20, 129, 129); /* Cor de fundo mais escura ao passar o mouse */
  color: #f3d00b;    /* Muda a cor do texto ao passar o mouse */
}