
/* Seleciona a cor da pagina inteira  */
body {
    background-color:rgb(61, 57, 57) 
  
  }
  
  /* Seleciona a cor dos paragrafos */
p{
  color: aliceblue;
  font-family: Tahoma, sans-serif;
}

/* Seleciona a cor dos titulos */
h1{
  color: aliceblue;
  font-family: Tahoma, sans-serif;
}

/* muda a cor dos links externos */
a[href^="https"] {
  color: rgb(34, 145, 139);
}
